@import "../variable.less";
 
@mod-sketch: ~'@{prefix}-mod-sketch';

.@{mod-sketch} { 
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 1px #0000001a,0px 0px .5px #0000002e, 0px 3px 8px #0000001a, 0px 1px 3px #0000001a;
   
  .@{mod-sketch}-toolbar-position {
    position: absolute;
    bottom: 50px;
    left: 50%;
    max-width: 800px;
    min-width: 400px;
    transform: translateX(-50%);
  }
}