@import "../../css/variable.less";
 
@mod-name: ~'@{prefix}-mod-sketch';

.@{mod-name} { 
  position: relative;
   
  .@{mod-name}-toolbar-position {
    position: absolute;
    bottom: 50px;
    left: 50%;
    max-width: 800px;
    min-width: 400px;
    transform: translateX(-50%);
  }
}